[Unit]
Description=Restarting dnscrypt-proxy, unbound and systemd-resolved to fix DNS relate issue

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restart-dns-relate-services
