[Unit]
Description=Set host state on Mackerel to 'maintenance'
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=300
OnCalendar=*-*-* 02:55:00
Unit=set-maintenance-on-mackerel.service

[Install]
WantedBy=timers.target
