[Unit]
Description=wake up container installed in the host (per 5mins)

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
